[submodule "thirdparty/SDL"]
	path = thirdparty/SDL
	url = https://github.com/libsdl-org/SDL.git
[submodule "thirdparty/RTXPT"]
	path = thirdparty/RTXPT
	url = https://github.com/NVIDIA-RTX/RTXPT.git
[submodule "assets/glTF-Sample-Models"]
	path = assets/glTF-Sample-Models
	url = https://github.com/KhronosGroup/glTF-Sample-Models.git
	shallow = true
